/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* =Reset
---------
----------------------------------------------------- */
/* line 22, ../sass/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 33, ../sass/screen.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  height: 100%;
}

/* line 40, ../sass/screen.scss */
body {
  background: #fff;
  height: 100%;
}

/* line 53, ../sass/screen.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 56, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 59, ../sass/screen.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 63, ../sass/screen.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 68, ../sass/screen.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 71, ../sass/screen.scss */
blockquote, q {
  quotes: "" "";
}

/* line 74, ../sass/screen.scss */
a:focus {
  outline: thin dotted;
}

/* line 78, ../sass/screen.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

/* line 81, ../sass/screen.scss */
a img {
  border: 0;
}

/* =Global
----------------------------------------------- */
/* line 93, ../sass/screen.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Headings */
/* line 103, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', serif;
  clear: both;
}

/* line 107, ../sass/screen.scss */
h1 {
  font-size: 3.6rem;
}

/* line 110, ../sass/screen.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.3rem;
}

/* Text elements */
/* line 118, ../sass/screen.scss */
p {
  margin-bottom: 1.3rem;
}

/* line 121, ../sass/screen.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 124, ../sass/screen.scss */
ul {
  list-style: disc;
}

/* line 127, ../sass/screen.scss */
ol {
  list-style: decimal;
}

/* line 131, ../sass/screen.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 135, ../sass/screen.scss */
dt {
  font-weight: bold;
}

/* line 138, ../sass/screen.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 141, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 144, ../sass/screen.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 147, ../sass/screen.scss */
blockquote {
  font-style: italic;
  margin: 0 2em;
  text-align: left;
}

/* line 152, ../sass/screen.scss */
address {
  margin: 0 0 1.5em;
}

/* line 155, ../sass/screen.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 166, ../sass/screen.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 169, ../sass/screen.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 173, ../sass/screen.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 178, ../sass/screen.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 185, ../sass/screen.scss */
sup {
  bottom: 1ex;
}

/* line 188, ../sass/screen.scss */
sub {
  top: .5ex;
}

/* line 191, ../sass/screen.scss */
small {
  font-size: 75%;
}

/* line 194, ../sass/screen.scss */
big {
  font-size: 125%;
}

/* line 197, ../sass/screen.scss */
figure {
  margin: 0;
}

/* line 200, ../sass/screen.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 204, ../sass/screen.scss */
th {
  font-weight: bold;
}

/* line 207, ../sass/screen.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 214, ../sass/screen.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

/* line 221, ../sass/screen.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

/* line 227, ../sass/screen.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: white;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

/* line 244, ../sass/screen.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 255, ../sass/screen.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 260, ../sass/screen.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 264, ../sass/screen.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 270, ../sass/screen.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 274, ../sass/screen.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 283, ../sass/screen.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 293, ../sass/screen.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 300, ../sass/screen.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 303, ../sass/screen.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* line 310, ../sass/screen.scss */
[data-icon]:before {
  font-family: 'Genericons';
  /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none;
  /* Not to be trusted, but hey. */
}

/* Links */
/* line 317, ../sass/screen.scss */
a {
  color: #009bff;
  text-decoration: none;
}

/* line 323, ../sass/screen.scss */
a:hover,
a:focus,
a:active {
  color: #2A5DB0;
}

/* Alignment */
/* line 328, ../sass/screen.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 333, ../sass/screen.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 338, ../sass/screen.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
/* line 345, ../sass/screen.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 352, ../sass/screen.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* Clearing */
/* line 383, ../sass/screen.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

/* line 393, ../sass/screen.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* =Menu
----------------------------------------------- */
/* line 401, ../sass/screen.scss */
.main-navigation {
  display: block;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
/* line 408, ../sass/screen.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 412, ../sass/screen.scss */
.main-navigation ul ul {
  background-color: black;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 1rem;
  position: absolute;
  top: 1rem;
  z-index: 99999;
}
/* line 421, ../sass/screen.scss */
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}
/* line 425, ../sass/screen.scss */
.main-navigation ul ul a {
  width: 200px;
}
/* line 431, ../sass/screen.scss */
.main-navigation ul li {
  padding: .5rem;
  position: relative;
}
/* line 436, ../sass/screen.scss */
.main-navigation ul li:hover > ul {
  display: block;
}
/* line 442, ../sass/screen.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu */
/* line 451, ../sass/screen.scss */
.menu-toggle {
  cursor: pointer;
  display: none;
}

/* =Content
----------------------------------------------- */
/* line 461, ../sass/screen.scss */
.hentry {
  margin: 0 0 6rem;
}

/* line 465, ../sass/screen.scss */
.byline,
.updated {
  display: none;
}

/* line 469, ../sass/screen.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 474, ../sass/screen.scss */
.page-content,
.entry-content,
.entry-summary {
  text-align: justify;
}

/* line 478, ../sass/screen.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* =Asides
----------------------------------------------- */
/* line 488, ../sass/screen.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* =Media
----------------------------------------------- */
/* line 498, ../sass/screen.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* line 504, ../sass/screen.scss */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.3rem;
  max-width: 100%;
}

/* line 509, ../sass/screen.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

/* line 514, ../sass/screen.scss */
.wp-caption-text {
  text-align: center;
}

/* line 517, ../sass/screen.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 520, ../sass/screen.scss */
.site-main .gallery {
  margin-bottom: 1.3rem;
}

/* line 525, ../sass/screen.scss */
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}

/* line 530, ../sass/screen.scss */
.site-main .gallery dd {
  margin: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 541, ../sass/screen.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Navigation
----------------------------------------------- */
/* line 549, ../sass/screen.scss */
.site-main [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 553, ../sass/screen.scss */
[class*="navigation"] .nav-previous {
  float: left;
  width: 50%;
}

/* line 557, ../sass/screen.scss */
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* =Comments
----------------------------------------------- */
/* line 567, ../sass/screen.scss */
.comment-content a {
  word-wrap: break-word;
}

/* =Widgets
----------------------------------------------- */
/* line 577, ../sass/screen.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 582, ../sass/screen.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 587, ../sass/screen.scss */
.widget_search .search-submit {
  display: none;
}

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 597, ../sass/screen.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 602, ../sass/screen.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/* line 606, ../sass/screen.scss */
.site-footer {
  display: none;
}

/* line 614, ../sass/screen.scss */
.content-area {
  background-color: white;
  position: relative;
  z-index: 100;
}

/* line 619, ../sass/screen.scss */
.site-main {
  max-width: 600px;
  margin: 0 auto;
  font-size: 2.1rem;
}

/* line 625, ../sass/screen.scss */
.site-drawer {
  background: #f9f9f9;
  overflow: scroll;
  padding: 20px;
  padding: 2.0rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 26rem;
}
/* line 635, ../sass/screen.scss */
.site-drawer a {
  color: #666;
  text-decoration: none;
}
/* line 639, ../sass/screen.scss */
.site-drawer .site-branding {
  margin-bottom: 2rem;
}
/* line 642, ../sass/screen.scss */
.site-drawer .site-title {
  color: #333;
  font-family: 'Volkhov', serif;
}
/* line 646, ../sass/screen.scss */
.site-drawer .site-description {
  color: #666;
  font-style: italic;
}
/* line 650, ../sass/screen.scss */
.site-drawer .widget {
  margin-bottom: 2rem;
}

/* line 654, ../sass/screen.scss */
.widget-area {
  color: white;
}

/* line 658, ../sass/screen.scss */
h1.widget-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

/* line 664, ../sass/screen.scss */
.admin-bar .widget-area {
  margin-top: 28px;
}

/* line 668, ../sass/screen.scss */
.widget ul, .widget ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 674, ../sass/screen.scss */
.entry-title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.25em;
}
/* line 679, ../sass/screen.scss */
.entry-title a {
  color: #404040;
}

/* line 685, ../sass/screen.scss */
.single .entry-header {
  padding-top: 10rem;
}
/* line 688, ../sass/screen.scss */
.single .entry-title {
  font-size: 7.2rem;
}

/* line 692, ../sass/screen.scss */
.entry-meta {
  font-size: 1.6rem;
}
/* line 694, ../sass/screen.scss */
.entry-meta .posted-on {
  color: #999;
}
/* line 696, ../sass/screen.scss */
.entry-meta .posted-on a {
  color: #999;
}

/* line 701, ../sass/screen.scss */
.site-content {
  overflow: hidden;
}

/* line 706, ../sass/screen.scss */
button.site-drawer-toggle {
  background-color: transparent;
  box-shadow: none;
  border: none;
  height: 3.6rem;
  width: 3.6rem;
  text-align: center;
  padding: 0;
  position: fixed;
  margin: 16px 0 0 16px;
  margin: 1.6rem 0 0 1.6rem;
  z-index: 200;
}
/* line 718, ../sass/screen.scss */
button.site-drawer-toggle .icon:before {
  color: #999;
  line-height: 3.6rem;
}
/* line 722, ../sass/screen.scss */
button.site-drawer-toggle .icon {
  display: block;
  position: absolute;
  font-size: 2.2rem;
  line-height: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 734, ../sass/screen.scss */
button.site-drawer-toggle:hover {
  box-shadow: none;
}

/* line 737, ../sass/screen.scss */
button.site-drawer-toggle:focus {
  box-shadow: none;
}
